/* ================
  CSS RESET
  https://www.joshwcomeau.com/css/custom-css-reset/
=================*/

/*
1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
  margin: 0;
}
/*
3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
/*
9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ================
ROOT COLORS
=================*/

:root {
  --main-bg-color: rgba(35, 5, 22, 0.94);
  --header-color: #e5e5e5;
  --body-color: #f4ecd6;
  --accent-color: #e40066;
  --cta-color: #3a89b6;
}

body {
  background-image: url("/assets/blur-bg.webp");
  background-size: 200%;
  background-position: -400px -200px;
  overflow-x: hidden;
}

.bg-overlay {
  background-color: var(--main-bg-color);
}

/* body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-bg-color);
} */

main {
  /* max-width: 1400px; */
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5vh;
}

img {
  max-width: 100%;
  height: auto;
}

/* ================
TYPOGRAPHY
=================*/

a {
  text-decoration: none;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--header-color);
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--body-color);
  font-size: clamp(1rem, 2.5vw, 1.3rem);
  line-height: 140%;
  margin-top: 12px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 20%;
}

h1 {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--header-color);
  font-size: clamp(2.5rem, 5vw, 4rem);
  letter-spacing: 0px;
  line-height: 140%;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--header-color);
  font-size: clamp(3rem, 4.5vw, 3.4rem);
  letter-spacing: 4%;
  line-height: 140%;
  margin-bottom: 15px;
}

h3 {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--header-color);
  font-size: clamp(2.4rem, 4.5vw, 3.2rem);
  letter-spacing: 4%;
  line-height: 140%;
  margin-bottom: 15px;
}

h4 {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--header-color);
  font-size: clamp(2rem, 4.5vw, 2.2rem);
  letter-spacing: 4%;
  line-height: 140%;
  margin-bottom: 20px;
  font-weight: 800;
}

.subtitle {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--header-color);
  font-size: clamp(1.5rem, 2.5vw, 2.8rem);
}

p {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--body-color);
  font-size: clamp(1rem, 2.5vw, 1.3rem);
  line-height: 140%;
}

input,
label,
select,
textarea {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--body-color);
  font-size: clamp(1rem, 2.5vw, 1.3rem);
  line-height: 140%;
}

button {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--header-color);
  font-size: clamp(1.2rem, 2.5vw, 1.2rem);
  line-height: 140%;
}

/* ================
NAVBAR
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav
=================*/

/* Style navbar */
.topnav {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #390920;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--header-color);
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Style navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.2s all ease-out;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: clamp(1.2rem, 2.5vw, 0.6rem);
  font-weight: 400;
}

.topnav a:hover {
  opacity: 0.7;
}

.topnav a.active {
  /* border-bottom: solid 2px var(--accent-color); */
  color: white;
}

.topnav .icon {
  display: none;
}

i {
  color: white;
  z-index: 100000;
}

/* Apply this to everything but the first child of .topnav a */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* ================
HERO
=================*/

/* Style front page welcome area */
.hero {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 0.8fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1400px;
  padding: 100px 6% 100px 6%;
  column-gap: 6em;
}

.hero__welcome-msg {
  margin-top: 2px;
}

.hero__welcome-msg a {
  font-family: "IBM Plex Sans", sans-serif;
}

.hero__name-top {
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  font-family: "IBM Plex Sans", sans-serif;
  display: inline-block;
}

.hero__name-bottom {
  font-size: clamp(3.3rem, 5vw, 4.8rem);
  line-height: 140%;
  padding: 40px 60px;
  background-color: #3d1127;
  border-radius: 4px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero__desc {
  margin-top: 80px;
}

.hero__desc p {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--header-color);
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  line-height: 140%;
  font-weight: 400;
  margin-top: 10px;
}

/* Break this into two rows on smaller devices */
@media screen and (max-width: 1200px) {
  .hero {
    grid-template-columns: 1fr;
    min-height: 60vh;
    margin-bottom: -100px;
  }
}

.highlight {
  border-radius: 3px;
  border: solid 3px #3d1127;
  padding: 0px 25px 0px 25px;
  display: inline-block;
  margin: 0px 0px 15px 0px;
  color: var(--cta-color);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 800;
}

.highlight--alt {
  color: #ff349a;
}

/* ================
PROJECTS
=================*/

.case-study__title {
  padding-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.case-study section {
  padding: 80px 5% 80px 5%;
  max-width: 1400px;
  margin: auto;
}

/* section titles */
.case-study__section-title {
  padding: 8px 40px;
  border: solid 2px #411c31;
  border-radius: 3px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 80px;
}

.case-study__container {
  margin-top: 100px;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: auto;
  margin-bottom: 10vh;
  column-gap: 10rem;
}

.case-study__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.case-study__bottom-section {
  padding-bottom: 100px;
}

/* Create a two column layout */
.project-container {
  max-width: 1400px;
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin-bottom: 10vh;
  padding: 150px 5% 150px 5%;
  column-gap: 2rem;
  row-gap: 10em;
}

.project__descr {
  margin-top: 5vh;
}

.project__img {
  width: 100%;
  height: auto;
  max-width: 800px;
  /* cursor: pointer; */
  transition: 0.2s filter ease-in-out;
  filter: saturate(0.8) brightness(0.95);
}

/* Add an alt color to container background */
.bg-wrapper {
  background-color: rgba(211, 211, 211, 0.05);
}

.project-container__left-panel {
  margin: 10px;
}

.project-container__right-panel {
  margin: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.case-study__row {
  display: grid;
  grid-template-columns: 0.8fr;
  grid-template-rows: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.case-study__img {
  padding-top: 20px;
  margin-bottom: 50px;
  filter: saturate(0.8) brightness(0.95);
}

.project__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* flex-grow: 0; */
  background-color: #00000000;
  border: solid 2px#3A89B6;
  border-radius: 50px;
  padding: 10px 25px;
  margin-top: 30px;
  transition: background-color ease-in 0.2s;
  font-size: clamp(1.2rem, 2.5vw, 1.2rem);
  line-height: 140%;
}

.project__btn:hover {
  background-color: #ffffff0e;
  cursor: pointer;
}

.project__btn-icon {
  margin-left: 20px;
}

.tag-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -40px;
  margin-top: 10px;
}

li span {
  position: relative;
  left: -10px;
}

/* Styles tags for projects and places bullet points inside of the background */
.project-tag {
  list-style-position: inside;
  padding: 10px 20px 10px 20px;
  margin-right: 25px;
  background-color: #411c31;
  border-radius: 3px;
  margin-bottom: 20px;
  user-select: none;
  font-size: clamp(1rem, 2.5vw, 1rem);
  letter-spacing: 4%;
  line-height: 140%;
}

.constrained-img {
  margin-top: 50px;
  max-height: 600px;
  overflow-y: auto;
  width: fit-content;
}

.constrained-img--horizontal {
  overflow-x: auto;
}

.constrained-img--horizontal img {
  max-width: 200%;
  padding-bottom: 0;
}

/* Break this into two rows on smaller devices */
@media screen and (max-width: 1200px) {
  .project-container {
    grid-template-columns: 1fr;
  }
  .project__img {
    margin-top: -100px;
  }
  .case-study__title {
    margin-top: -80px;
  }
  .case-study__container {
    margin-top: 40px;
    grid-template-columns: 1fr;
    row-gap: 3em;
  }
  .case-study__img {
    width: 90vw;
    max-width: 90vw;
  }
}

/* ================
ABOUT ME
=================*/

/* Create a two column layout */
.about-me {
  min-height: 100vh;
  margin: auto;
  display: grid;
  max-width: 1400px;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  padding: 100px 5% 100px 5%;
}

.about-me__picture {
  margin: auto;
  width: 100%;
  height: auto;
}

.about-me__bio {
  margin: auto;
}

/* Break this into two rows on smaller devices */
@media screen and (max-width: 600px) {
  .about-me {
    grid-template-columns: 1fr;
  }
  .about-me__bio {
    margin-top: 50px;
  }
  .about-me__picture {
    margin-top: 50px;
    max-width: 60vw;
    margin-left: 0;
  }
}

/* ================
CONTACT
=================*/

.contact-container {
  min-height: 100vh;
  margin: auto;
  display: grid;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 150px 5% 200px 5%;
  column-gap: 5em;
}

input[type="text"],
select,
textarea {
  width: 100%;
  background-color: #3d1127;
  padding: 15px 25px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border: 2px #00000000;
}

input:focus {
  border: 2px var(--accent-color);
}

input[type="submit"] {
  border: var(--accent-color) 3px solid;
  background-color: #00000000;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

.form-container {
  border-radius: 5px;
}

/* Fun hover hover to be added later */
/* .project__img {
  position: relative;
  transition: 0.2s all ease-out;
  box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.75);
}

.project__img:hover {
  box-shadow: 15px 15px 5px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 15px 15px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 15px 15px 5px -1px rgba(0, 0, 0, 0.75);
}

.project__img::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  background: red;
  top: 0px;
  left: 0px;
  margin-left: 15px;
  margin-top: 15px;
  transition: 0.2s all;
  z-index: -1;
}

.project__img:hover::after {
  margin-left: 20px;
  margin-top: 20px;
} */
