/* ================
ROOT COLORS
=================*/

:root {
	--main-bg-color: rgba(35, 5, 22, 0.8);
	--header-color: #e5e5e5;
	--body-color: #f4ecd6;
	--accent-color: #e40066;
	--cta-color: #3a89b6;
}

/* set background image and an overlay */
body {
	background: linear-gradient(var(--main-bg-color), var(--main-bg-color)),
		url('./blur\ bg\ cropped.webp');
	background-size: 200%;
	background-position: -400px -200px;
	overflow-x: hidden;
	/* background-attachment: fixed; */
}

#canvas {
	width: 100%;
	height: 200px;
	padding: 0px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	animation: fade-in 0.8s ease-in 0s both;
}

.bg-overlay {
	/* background-color: var(--main-bg-color); */
}

main {
	/* max-width: 1400px; */
	margin-left: auto;
	margin-right: auto;
	animation: fade-in 0.6s ease-in 0.15s both;
}

img {
	max-width: 100%;
	height: auto;
}

/* ================
TYPOGRAPHY
=================*/

a {
	text-decoration: none;
	font-family: 'IBM Plex Sans', sans-serif;
	color: var(--header-color);
	margin: 0;
	padding: 0;
}

ul,
ol,
li {
	font-family: 'IBM Plex Sans', sans-serif;
	color: var(--body-color);
	font-size: clamp(1rem, 2.5vw, 1.3rem);
	line-height: 140%;
	margin-top: 12px;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 20%;
}

h1 {
	font-family: 'IBM Plex Sans', sans-serif;
	color: var(--header-color);
	font-size: clamp(2.5rem, 5vw, 4rem);
	letter-spacing: 0px;
	line-height: 140%;
}

h2 {
	font-family: 'IBM Plex Sans', sans-serif;
	color: var(--header-color);
	font-size: clamp(3rem, 4.5vw, 3.4rem);
	letter-spacing: 4%;
	line-height: 140%;
	margin-bottom: 15px;
}

h3 {
	font-family: 'IBM Plex Sans', sans-serif;
	color: var(--header-color);
	font-size: clamp(2.2rem, 4.5vw, 3rem);
	letter-spacing: 4%;
	line-height: 140%;
	margin-bottom: 15px;
}

h4 {
	font-family: 'IBM Plex Sans', sans-serif;
	color: var(--header-color);
	font-size: clamp(2rem, 4.5vw, 2.2rem);
	letter-spacing: 4%;
	line-height: 140%;
	margin-bottom: 20px;
	font-weight: 800;
}

h5 {
	font-family: 'IBM Plex Sans', sans-serif;
	color: var(--header-color);
	font-size: clamp(1.6rem, 4.5vw, 1.8rem);
	letter-spacing: 4%;
	line-height: 140%;
	margin-bottom: 20px;
	font-weight: 400;
}

.subtitle {
	font-family: 'IBM Plex Sans', sans-serif;
	color: var(--header-color);
	font-size: clamp(1.5rem, 2.5vw, 2.8rem);
}

p {
	font-family: 'IBM Plex Sans', sans-serif;
	color: var(--body-color);
	font-size: clamp(1rem, 2.5vw, 1.3rem);
	line-height: 140%;
}

input,
label,
select,
textarea {
	font-family: 'IBM Plex Sans', sans-serif;
	color: var(--body-color);
	font-size: clamp(1rem, 2.5vw, 1.3rem);
	line-height: 140%;
}

button {
	font-family: 'IBM Plex Sans', sans-serif;
	color: var(--header-color);
	font-size: clamp(1.2rem, 2.5vw, 1.2rem);
	line-height: 140%;
	background-color: transparent;
	border: none;
}

/* ================
NAVBAR
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav
=================*/

/* Style navbar */
.topnav {
	position: absolute;
	z-index: 100;
	top: 0;
	width: 100%;
	overflow: hidden;
	font-family: 'IBM Plex Sans', sans-serif;
	color: var(--header-color);
	padding: 5px 6%;
	background-color: #00000010;
	backdrop-filter: blur(4px);
}

/* Style navbar links */
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	transition: 0.15s all ease-out;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: clamp(1.2rem, 2.5vw, 0.6rem);
	font-weight: 400;
}

.topnav a:hover {
	opacity: 0.7;
}

.topnav a.active {
	/* border-bottom: solid 2px var(--accent-color); */
	color: white;
}

.topnav .icon {
	display: none;
}

i,
.fa,
.fa-bars,
a.icon {
	color: white;
	font-size: 25px;
}

/* Apply this to everything but the first child of .topnav a */
@media screen and (max-width: 1000px) {
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
	.topnav {
		padding-left: 10px;
	}
}

@media screen and (max-width: 1000px) {
	.topnav.responsive {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		/* backdrop-filter: blur(30px); */
	}
	.topnav.responsive .icon {
		position: relative;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

/* ================
FOOTER
=================*/

footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	border-top: 4px solid var(--accent-color);
	background-color: #00000040;
	min-height: 200px;
	width: 100%;
	padding-top: 10px;
}

.footer-col {
	margin: 30px 60px;
	display: grid;
	grid-template-rows: auto;
	row-gap: 0.5;
	margin-top: auto;
	margin-bottom: auto;
}

.footer-col button {
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer-btn {
	border: var(--accent-color) 3px solid;
	background-color: #00000000;
	color: white;
	padding: 8px 20px;
	border-radius: 4px;
	cursor: pointer;
	transition: opacity 0.15s ease-in;
}

.footer-btn:hover {
	opacity: 0.8;
}

.footer__icon-row {
	display: grid;
	grid-template-columns: 0.2fr 1fr;
	grid-template-rows: auto;
	column-gap: 1em;
	align-items: center;
	padding-bottom: 20px;
	transition: opacity 0.15s ease-in;
}

.footer__icon-row:hover {
	opacity: 0.8;
}

.footer__icon {
	width: 3.5em;
	height: auto;
}

/* ================
HERO
=================*/

/* Style front page welcome area */
.hero {
	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr 0.8fr;
	grid-template-rows: auto;
	justify-content: center;
	align-items: center;
	margin: auto;
	max-width: 1400px;
	padding: 100px 6% 100px 6%;
	column-gap: 6em;
}

.hero__welcome-msg {
	margin-top: 2px;
	width: fit-content;
}

.hero__welcome-msg a {
	font-family: 'IBM Plex Sans', sans-serif;
}

.hero__name-top {
	font-size: clamp(1.2rem, 2.5vw, 1.6rem);
	font-family: 'IBM Plex Sans', sans-serif;
	display: inline-block;
	font-weight: 400;
}

.hero__name-bottom {
	font-size: clamp(3.3rem, 5vw, 4.8rem);
	line-height: 140%;
	padding: 40px 60px;
	background-color: #3d1127a1;
	/* background-color: #ffffff08; */
	/* box-shadow: inset 0px 0px 30px -10px rgba(255, 255, 255, 0.249),
		inset 0px -10px 20px 0px rgba(50, 1, 130, 0.249); */
	border-radius: 8px;
	max-width: 550px;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.hero__desc {
	margin: 20px;
	margin-top: 80px;
}

.hero__desc p {
	font-family: 'IBM Plex Sans', sans-serif;
	color: var(--header-color);
	font-size: clamp(1.5rem, 2.5vw, 2.5rem);
	line-height: 140%;
	font-weight: 400;
	margin-top: 10px;
}

/* Break this into two rows on smaller devices */
@media screen and (max-width: 1000px) {
	.hero {
		grid-template-columns: 1fr;
		min-height: 60vh;
		padding-bottom: 0;
	}
	.hero__name-bottom {
		padding: 20px 40px;
		max-width: 400px;
	}
}

.highlight {
	border-radius: 3px;
	border: solid 2px #3a89b6;
	padding: 0px 25px 0px 25px;
	display: inline-block;
	margin: 0px 0px 15px 0px;
	color: var(--cta-color);
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 800;
}

.highlight--alt {
	color: #ff349a;
}

/* ================
PROJECTS
=================*/

.projects {
	background-color: rgba(211, 211, 211, 0.04);
}

/* Create a two column layout */
.project-container {
	max-width: 1400px;
	margin: auto;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	padding: 150px 5% 150px 5%;
	column-gap: 2rem;
	row-gap: 10em;
}

.project__descr {
	margin-top: 5vh;
}

.project__img {
	width: 100%;
	height: auto;
	max-width: 800px;
	/* cursor: pointer; */
	transition: 0.15s filter ease-in-out;
	filter: saturate(0.8) brightness(0.95);
}

/* Add an alt color to container background */
.bg-wrapper {
	background-color: rgba(114, 114, 114, 0.08);
}

.project-container__left-panel {
	margin: 10px;
}

.project-container__right-panel {
	margin: 10px;
	margin-top: auto;
	margin-bottom: auto;
}

.project__btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	/* flex-grow: 0; */
	background-color: #00000000;
	border: solid 2px #3a89b6;
	border-radius: 50px;
	padding: 10px 25px;
	margin-top: 30px;
	transition: background-color ease-in 0.15s;
	font-size: clamp(1.2rem, 2.5vw, 1.2rem);
	line-height: 140%;
	max-width: 300px;
}

.project__btn:hover {
	background-color: #ffffff0e;
	cursor: pointer;
}

.project__btn-icon {
	margin-left: 20px;
}

.tag-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-left: -40px;
	margin-top: 10px;
}

/* Styles tags for projects and places bullet points inside of the background */
.project-tag {
	list-style-position: inside;
	padding: 10px 24px 10px 20px;
	margin-right: 25px;
	/* background-color: #411c31; */
	background-color: rgba(114, 114, 114, 0.1);
	border-radius: 3px;
	margin-bottom: 20px;
	user-select: none;
	font-size: clamp(1rem, 2.5vw, 1rem);
	letter-spacing: 4%;
	line-height: 140%;
}

.case-study__title {
	padding-top: 20vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.case-study section {
	padding: 80px 6% 80px 6%;
	max-width: 1400px;
	margin: auto;
}

/* section titles */
.case-study__section-title {
	padding: 8px 40px;
	border: solid 2px var(--cta-color);
	border-radius: 3px;
	display: inline-block;
	margin-top: 40px;
	margin-bottom: 40px;
}

.case-study__container {
	margin-top: 100px;
	display: grid;
	justify-content: center;
	align-items: flex-start;
	grid-template-columns: 1fr 0.5fr;
	grid-template-rows: auto;
	margin-bottom: 10vh;
	column-gap: 10rem;
}

.case-study__flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 80px;
}

.case-study__bottom-section {
	padding-bottom: 100px;
}

.case-study__row {
	display: grid;
	grid-template-columns: 0.8fr;
	grid-template-rows: auto;
	padding-top: 40px;
	padding-bottom: 40px;
}

.case-study__img {
	margin-top: 30px;
	filter: saturate(0.8) brightness(0.95);
}

.case-study__img--small {
	max-width: 600px;
}

.constrained-img {
	max-height: 700px;
	overflow-y: auto;
	width: fit-content;
	margin-top: 30px;
}

/* remove margin and padding that would otherwise break the scrollbar */
.constrained-img img {
	margin-top: 0;
	padding-top: 0;
}

.constrained-img--horizontal {
	overflow-x: auto;
}

.constrained-img--horizontal img {
	max-width: 200%;
	padding-bottom: 0;
}

/* Break this into two rows on smaller devices */
@media screen and (max-width: 1000px) {
	.project-container {
		grid-template-columns: 1fr;
		padding-top: 100px;
	}
	.project__img {
		margin-top: -100px;
	}
	.case-study__title {
		margin-top: -80px;
	}
	.case-study__container {
		margin-top: 40px;
		grid-template-columns: 1fr;
		row-gap: 3em;
	}
	.case-study__img {
		width: 90vw;
		max-width: 90vw;
	}
}

/* ================
ABOUT ME
=================*/

.about-me {
	min-height: 100vh;
}

/* Create a two column layout */
.about-me__descr {
	margin: auto;
	margin-bottom: 80px;
	display: grid;
	max-width: 1400px;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	gap: 3vw;
	padding: 100px 5% 100px 5%;
}

.about-me__descr-picture {
	margin: 5%;
	margin-left: auto;
	max-width: 20rem;
}

.about-me__descr-bio {
	margin: auto;
}

/* Break this into two rows on smaller devices */
@media screen and (max-width: 600px) {
	.about-me__descr {
		grid-template-columns: 1fr;
	}
	.about-me__descr-bio {
		margin-top: 50px;
	}
	.about-me__descr-picture {
		margin-top: 50px;
		max-width: 60vw;
		margin-left: 0;
	}
}

.about-me__card-grid-wrapper {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 1000px;
	padding: 100px 5% 100px 5%;
}

.about-me__card-grid {
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: start;
	align-items: center;
	gap: 3vw;
	flex-wrap: wrap;
}

.about-me__card {
	background-color: rgba(114, 114, 114, 0.08);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	text-align: left;
	padding: 40px;
	width: 350px;
	height: 400px;
	box-shadow: inset 0px 0px 30px -10px rgba(255, 255, 255, 0.249),
		inset 0px -10px 20px 0px rgba(50, 1, 130, 0.249);
}

.about-me__card--mini {
	width: 240px;
	height: 100px;
}

/* ================
CONTACT
=================*/

.contact-container {
	min-height: 100vh;
	margin: auto;
	display: grid;
	max-width: 1000px;
	justify-content: center;
	align-items: center;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	padding: 150px 5% 200px 5%;
	column-gap: 5em;
}

input[type='text'],
select,
textarea {
	width: 100%;
	/* background-color: #3d1127; */
	background-color: rgba(114, 114, 114, 0.1);
	padding: 10px 22px;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	border: 2px #00000000;
}

input:focus {
	border: 2px var(--accent-color);
}

input[type='submit'] {
	border: var(--accent-color) 3px solid;
	background-color: #00000000;
	color: white;
	padding: 8px 20px;
	border-radius: 4px;
	cursor: pointer;
	transition: opacity 0.15s ease-in;
}

input[type='submit']:hover {
	opacity: 0.8;
}

.form-container {
	border-radius: 5px;
}

/* Fun hover hover to be added later */
/* .project__img {
  position: relative;
  transition: 0.15s all ease-out;
  box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.75);
}

.project__img:hover {
  box-shadow: 15px 15px 5px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 15px 15px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 15px 15px 5px -1px rgba(0, 0, 0, 0.75);
}

.project__img::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  background: red;
  top: 0px;
  left: 0px;
  margin-left: 15px;
  margin-top: 15px;
  transition: 0.15s all;
  z-index: -1;
}

.project__img:hover::after {
  margin-left: 20px;
  margin-top: 20px;
} */
