/* ================
ROOT COLORS
=================*/

:root {
	--main-bg-color: rgba(35, 5, 22, 0.8);
	--header-color: #101010;
	--body-color: #101010;
	--accent-color: #e40066;
	--cta-color: #3a89b6;
}

/* set background image and an overlay */
body {
	background-color: #fff;
}

#canvas {
	width: 100%;
	height: 200px;
	padding: 0px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	/* animation: fade-in 0.8s ease-in 0s both; */
}

.bg-overlay {
	background-image: url('./bg.webp');
	background-size: cover;
	background-attachment: fixed;
}

main {
	/* max-width: 1400px; */
	margin-left: auto;
	margin-right: auto;
	animation: fade-in 0.6s ease-in 0.15s both;
}

img {
	max-width: 100%;
	height: auto;
}

/* ================
TYPOGRAPHY
=================*/

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 20%;
}

h1 {
	font-family: 'Major Mono Display', monospace;
	color: var(--header-color);
	font-size: clamp(3.2rem, 8vw, 7rem);
	line-height: normal;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -13.469px;
}

h1 {
	background: url('./text-mask-des.webp');
	background-position: 0% 0%;
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

@media (max-width: 768px) {
	h1 {
		letter-spacing: -5px;
	}
}

h2 {
	font-family: 'JetBrains Mono', monospace;
	color: var(--header-color);
	font-size: clamp(2rem, 4vw, 2.2rem);
	letter-spacing: 4%;
	line-height: 140%;
	margin-bottom: 15px;
	font-weight: 400;
}

h3 {
	font-family: 'JetBrains Mono', monospace;
	color: var(--header-color);
	font-size: clamp(1.4rem, 4vw, 1.6rem);
	letter-spacing: 4%;
	line-height: 140%;
	margin-bottom: 15px;
}

h4 {
	font-family: 'JetBrains Mono', monospace;
	color: var(--header-color);
	font-size: clamp(1.2rem, 4vw, 1.4rem);
	letter-spacing: 4%;
	line-height: 140%;
	margin-bottom: 20px;
	font-weight: 800;
}

h5 {
	font-family: 'JetBrains Mono', monospace;
	color: var(--header-color);
	font-size: clamp(1.4rem, 4.5vw, 1.8rem);
	letter-spacing: 4%;
	line-height: 140%;
	margin-bottom: 20px;
	font-weight: 400;
}

.subtitle {
	font-family: 'JetBrains Mono', monospace;
	color: var(--body-color);
	font-size: clamp(.8rem, 2.5vw, 1rem);
}

p {
	font-family: 'JetBrains Mono', monospace;
	color: var(--body-color);
	font-size: clamp(.8rem, 2.5vw, 1rem);
	line-height: 140%;
}

li {
	font-family: 'JetBrains Mono', monospace;
	color: var(--body-color);
	font-size: clamp(.8rem, 2.5vw, 1rem);
}

a {
	text-decoration: none;
	font-family: 'JetBrains Mono', monospace;
	color: var(--body-color);
	font-size: clamp(.8rem, 2.5vw, 1rem);
	margin: 0;
	padding: 0;
}

nav a {
	text-decoration: underline;
}

ul,
ol,
li {
	font-family: 'JetBrains Mono', monospace;
	color: var(--body-color);
	/* font-size: clamp(1rem, 2.5vw, 1.3rem);
	line-height: 140%; */
}

input,
label,
select,
textarea {
	font-family: 'JetBrains Mono', monospace;
	color: var(--body-color);
	font-size: clamp(1rem, 2.5vw, 1.3rem);
	line-height: 140%;
}

button {
	font-family: 'JetBrains Mono', monospace;
	color: var(--header-color);
	font-size: clamp(1.2rem, 2.5vw, 1.2rem);
	line-height: 140%;
	background-color: transparent;
	border: none;
}

/* ================
CASE STUDIES
=================*/

.case-study__title {
	padding-top: 20vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.case-study__header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	gap: 4em;
}

.case-study__cover {
	width: 80%;
	height: auto;
	transition: transform 0.3s ease-out;
	text-align: left;
}

.case-study section {
	padding: 0% 2% 80px 2%;
	max-width: 1400px;
	margin: auto;
	/* padding-top: 10dvh; */
}

/* section titles */
.case-study__section-title {
	padding: 8px 40px;
	border: solid 2px var(--cta-color);
	border-radius: 3px;
	display: inline-block;
	margin-top: 40px;
	margin-bottom: 40px;
}

.case-study__container {
	margin-top: 100px;
	display: grid;
	justify-content: center;
	align-items: flex-start;
	grid-template-columns: 1fr 0.5fr;
	grid-template-rows: auto;
	margin-bottom: 10vh;
	column-gap: 10rem;
}

.case-study__flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 80px;
}

.case-study__bottom-section {
	padding-bottom: 100px;
}

.case-study__row {
	display: grid;
	grid-template-columns: 0.8fr;
	grid-template-rows: auto;
	padding-top: 40px;
	padding-bottom: 40px;
}

.case-study__img {
	width: 100%;
	margin-top: 30px;
	filter: saturate(0.8) brightness(0.95);
}

.case-study__img--small {
	max-width: 600px;
}

.constrained-img {
	max-height: 700px;
	overflow-y: auto;
	width: fit-content;
	margin-top: 30px;
}

/* remove margin and padding that would otherwise break the scrollbar */
.constrained-img img {
	margin-top: 0;
	padding-top: 0;
}

.constrained-img--horizontal {
	overflow-x: auto;
}

.constrained-img--horizontal img {
	max-width: 200%;
	padding-bottom: 0;
}

/* Fun hover hover to be added later */
/* .project__img {
  position: relative;
  transition: 0.15s all ease-out;
  box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.75);
}

.project__img:hover {
  box-shadow: 15px 15px 5px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 15px 15px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 15px 15px 5px -1px rgba(0, 0, 0, 0.75);
}

.project__img::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  background: red;
  top: 0px;
  left: 0px;
  margin-left: 15px;
  margin-top: 15px;
  transition: 0.15s all;
  z-index: -1;
}

.project__img:hover::after {
  margin-left: 20px;
  margin-top: 20px;
} */